.header{
    width: 20vw;
    position: absolute;
    left: 2vw;
    top: -1vw;
    padding: 0px 2vw;
    transition: .3s;
    z-index: 2;
    position: relative;
    animation: head 2s cubic-bezier(1, 0.01, 0.8, 1.11);
    transform-origin: 3vw 7vw;
}
@keyframes fall {
    
}
@keyframes head {
    0%{
        transform: rotate(-90deg) translateX(100%);
    }
    50%{
        transform: rotate(-90deg) translateX(0%);
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.header:hover{
    transform: scale(1.01);
}
.header img{
    width: 100%;
}
.navigation a{
    display: inline;
    font-size: 2vw;
    padding: 1vw 2.8vw 1vw 2.8vw;
    background-color: rgb(9, 9, 9);
    margin: 0 .1vw;
    border-radius: 0.5vw .5vw 0 0;
    background: none;
    z-index: -3;
    transition: .3s;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: linear-gradient(
        to top,
        rgb(0, 165, 88, 0) 0%,rgb(255, 166, 0,0) 50%, rgb(255, 166, 0) 100%);
}
.navigation a:hover{
}

.navigation{
    text-align: right;
    margin: 3vw 5vw 0 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    z-index: 2;
    right: 2vw;
    position: absolute;
    top: .5vw;
}
.content{
    height: 40vw ;
    width: 94vw;
    margin: -5.3vw auto;
    box-shadow: 0 0 2.5vw 1vw rgb(1, 0, 12);
    z-index: 1;
    position: relative;
}
.home{
    height: 40vw ;
    width: 94vw;
    margin: -5.3vw auto;
    box-shadow: 0 0 2.5vw 1vw rgb(1, 0, 12);
    z-index: 1;
}
.portfolio{
    height: 40vw ;
    width: 94vw;
    margin:-5.3vw auto;
    box-shadow: 0 0 2.5vw 1vw rgb(1, 0, 12);
    z-index: 1;
}
.contact{
    height: 40vw ;
    width: 94vw;
    margin: -5.3vw auto;
    box-shadow: 0 0 2.5vw 1vw rgb(1, 0, 12);
    z-index: 1;
}
.sidebar{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 5vw;
    padding: 1vw 0vw 1vw 0vw;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 2vw 2vw 0;
    z-index: 1;
    width: 22vw;
}
.sidebar h2{
    margin: 0;
}
.sidebar .link{
    padding: 0.5vw 2vw .5vw 4vw;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: .3s;
    background-color: rgb(37, 37, 37);
    border-radius: 0 2vw 2vw 0;
    margin: 1.5vw 2vw 1.5vw 0;
    z-index: 3;
    font-size: 1.5vw;
    cursor: pointer;
}
.sidebar div:hover{
    transform: scale(1.1);
    box-shadow: .5vw 0 1vw .1vw black;
    margin-left: 1vw;
}
.about{
    width: 30vw;
    font-size:  2.1vw ;
    text-align: left;
    padding: 2vw;
    position: absolute;
    top: 19vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: linear-gradient(
        to right,
        rgb(0, 165, 88, .1) 0%,rgb(255, 166, 0,.8) 80%, rgb(255, 166, 0) 100%);
        box-shadow: 0 0 1vw .1vw black;
        z-index: 0;
        height: 28vw;
}
.about h1, .about p{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: .1vw .1vw .2vw black;
}
@keyframes ltr {
    0%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(0%);
    }
}
.about .inform{
    font-size: 1.6vw;
}
.about .inform h1{
    margin: 0;
    border-bottom: .1vw solid rgba(255, 255, 255);
    font-size: 4vw;
    animation: ltr 1s ease-in-out ;
}
.about .inform span{
    color: rgb(255, 230, 0);
}
.about .inform p{
    margin: 1vw 0;
}
.about h1{
    border-bottom: .1vw solid rgba(255, 255, 255);
    animation: ltr 1s ease-in-out ;}
.about .skill h3{
 margin: 0;
 color: rgb(255, 242, 0);
 text-shadow: .1vw .1vw .2vw black;
 font-size: 2.2vw;
}
.about .skill p{
    margin: 1vw 0;
    font-size: 1.7vw;
}
.about .skill .left{
    width: 15vw;
    float: left;
    border-right: .1vw solid rgba(255, 255, 255);
    margin-top: 1vw;
}
.about .skill .right{
    width: 15vw;
    position: absolute;
    right: 0;
    margin-top: 1vw;
}
.image{
    position: absolute;
    width: 30vw;
    top: 15vw;
    transform: translateY(-50%);
    left: -31vw;
    border-bottom: .1vw solid rgba(1, 1, 1, 0.41);
    height: 32vw;
    transition: .3s;
    z-index: -2;
    text-align: center;
    font-weight: bold;
    text-shadow: .2vw .2vw .2vw black;
}
.c1{
    width: 15vw;
    background: linear-gradient(
        to right,
        rgba(255, 251, 0, 0.8) 0%,rgba(255, 166, 0, 0.8) 100%);
    height: 15vw;
    position: absolute;
    z-index: -1;
    border-radius: 20vw;
    top: 4vw;
    right: 4vw;
    transition: .5s cubic-bezier(0.42, 0, 0.55, 1.34);
}.c2{
    width: 15vw;
    background: linear-gradient(
        to right,
        rgba(0, 221, 213, 0.8) 0%,rgba(0, 255, 145, 0.8) 100%);
    height: 15vw;
    position: absolute;
    z-index: -1;
    border-radius: 20vw;
    bottom: 4vw;
    left: 4vw;
    z-index: -3;
    transition: 1s cubic-bezier(0.42, 0, 0.55, 1.34);
}.c3{
    width: 26vw;
    background: linear-gradient(
        to right,
        rgba(20, 20, 20, 0.7) 0%,rgba(0, 0, 0, 0.3) 100%);
    height: 16vw;
    position: absolute;
    z-index: -1;
    border-radius: 20vw 20vw 0vw 0vw;
    bottom: 4vw;
    left: 4vw;
    z-index: -3;
    transition: .5s cubic-bezier(0.42, 0, 0.55, 1.34);
    transform: translateX(-9%) translateY(25%) ;
    z-index: -5;
}
.image:hover .c1{
    transform: translateX(200%) scale(1.2);
}.image:hover .c2{
    transform: translateX(200%) scale(1.2);
}.image:hover .c3{
    transform: translateX(-13%) translateY(18.3%) ;
    height: 22vw;
    width: 30vw;
}
.sean{

    width: 32vw;
}
.footer img{
    width: 2.5vw;
    margin: 0 1vw;
}
.footer{
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.7) 50%,rgba(0, 0, 0, 0.0) 80%,  rgba(0, 0, 0, 0.0) 100%);
    padding: 1vw 3vw;
    margin-top: 8vw;
}
.footer li{
    display: inline-block;
}
.footer ul{
    padding: 0;
    margin: 0;
}
.footer img:hover{
    transform: scale(1.15);
}
.footer img{
    transition: .3s;
}
